/* Existing CSS rules */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.calc {
  margin-top: 50px;
  margin-bottom: 15px;
}

#calculateButton {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0%;
}

#carouselExampleIndicators {
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  color: black;
}

#carouselExampleIndicators img {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

#suppliesForm {
  max-width: 400px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 15px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
}

/* Add this CSS to limit the maximum width of the carousel images on mobile */
.carousel-inner img {
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}











